body, div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#form {
    text-align: center;
    font-size: larger;
    color: black;
    margin: 3vw;
    display: flex;
    justify-content: center;
}

main, #form1, section {
    margin: 0 25vw;
    width: 50vw;
    background: rgb(0, 0, 164);
    justify-content: center;
    display: grid;
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw 6vw;
    gap: 1vw;
    padding: 2vw 1vw;
}

section {
    background: transparent;
}

div {
    border-radius: 100px;
    padding: 3vw;
}

#rouge {
    background: red;
}

#jaune {
    background: yellow;
}

#fond {
    background: white;
}

input {
    color: white;
    background: transparent;
    border-radius: 75px;
    padding: 1vw;
    font-weight: bolder;
}

input:hover {
    background: rgba(255, 255, 255, 0.1);
}

#redchoice:hover {
    background: red;
}

#yellowchoice:hover {
    background: yellow;
}
