<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Round number {n}, it's {{ color_turn }}' turn but ...</h1>
    {% if win %}
        <h1 style="color: red;">They won !!!</h1>
    {% elif equality %}
        <h1 style="color: red;">Équality !!!</h1>
    {% endif %}
    <main>
        {% for x in range(len(L[0])) %}
            {% for y in range(len(L)) %}
                <div id="{{ L[j][len(L[0])-1-i] }}"></div>
            {% endfor %}
        {% endfor %}
    </main>